*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
}
.container1{
    display: flex;
    width: 6%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;


}
.container2{
    width: 47%;
    background-image: url(../project\ 7/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.container3{
    width: 47%;

    margin: 35px 45px 50px 35px;

}
.logo{
    width: 20px;
}
nav a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;

}
h1{
    font-size: 65px;
    font-weight: bolder;

}
h1~p{
    font-size: 20px;
    line-height: 30px;
    font-family: sans-serif;
}
.page1{
    color: #CC5803;
}